@model BooksModel

@{
    //page title
    ViewBag.PageTitle = "AddNewBook";
}

<form asp-controller="Books" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add a new Book
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">BackToList</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>